{%  extends 'base.html' %}


{% block content %}
    <h1>{{request.user}}</h1>
    {%  if request.user.is_authenticated %}

    <a href="{% url 'logout' %}">Logout</a>

    {% endif %}

    {% if age > 20 %}
        <h1>HE IS OLD</h1>
    {% endif %}

    {{age}}
    {{hobbies}}

    {% for hobby in hobbies %}
    <p>{{hobby}}</p>
    <br>
    {% endfor %}




  {% if request.user.is_authenticated %}
    
  <h1>{{name}}</h1>

  <p>This is a paragraph</p>

  <ul>
      {% for hobby in hobbies %}


      <li style="padding:10px; {% if hobby == "SINGING" %} background-color: pink; {%else%} background-color: green; {% endif %} color:white; border-radius: 10px; margin:10px;">{{hobby}}</li>


      {% endfor %}
      <li>APPLE</li>
      <li>BANANA</li>
      <li>ORANGE</li>
  </ul>

  {% else %}

<p> Please login to view premium content </p>
  {% endif %}
{% endblock content %}